<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Compiled and minified CSS of Materialize CSS -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">


    <title>EcoBank - Transfer</title>
</head>
<body>

    <!-- FOR LARGER SCREENS -->
    <nav class="green darken-2 sidenav-trigger show-on-med-and-up hide-on-small-and-down" role="navigation">
        <div class="nav-wrapper container">
            <a id="logo-container" href="/" class="brand-logo">EcoBank</a>
            <ul class="right">
                <% if ( typeof user != "undefined" ) { %>
                <li><a href="/bank">Dashboard</a></li>
                <li><a href="/accounts/logout">Log out from <%= user.name %></a></li>
                <% } %>
            </ul>
        </div>
    </nav>
    <!-- FOR SMALLER SCREENS -->
    <nav class="green darken-2 sidenav-trigger show-on-med-and-down hide-on-med-and-up" role="navigation">
        <div class="nav-wrapper container">
            <a id="logo-container" href="/" class="brand-logo left">EcoBank</a>
            <ul class="right">
                <% if ( typeof user != "undefined" ) { %>
                    <li><a href="/bank">Dashboard</a></li>
                    <li><a href="/accounts/logout">Log out</a></li>
                <% } %>
            </ul>
        </div>
    </nav>

    <div class="container">
        <div class="hide-on-med-and-down show-on-med-and-up">
            <!-- FOR BIGGER SCREENS -->
            <div class="row">
                <div class="col s12 m8">
                    <h3 class="green-text center">Enter the Account Number</h3>
                    <form action="/user/transfer" method="post">
                        <div class="input-field">
                            <input type="text" name="userID">
                            <label>Recipient's Account Number</label>
                        </div>
                        <div class="input-field">
                            <input type="number" name="transferAmount">
                            <label>Amount to Transfer</label>
                        </div>
                        <button class="btn btn-small waves-effect waves-dark green" type="submit">Transfer</button>
                    </form>
                </div>
                <div class="col s12 m4">
                    <div class="card medium green darken-3">
                        <div class="card-content white-text center">
                            <span class="card-title">Your Current Balance</span>
                            <br>
                            <% if ( typeof user != "undefined" ) { %>
                            <H3>Rs. <%= user.balance %></H3>
                            <% } %>
                            <br><br>
                            <h6>Your Account No: <input class="center-align white-text" onclick="this.select();" type="text" value=<%= user._id %> readOnly></h6>
                            

                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="show-on-med-and-down hide-on-med-and-up">
            <!-- FOR SMALLER SCREENS -->
            <div class="row">
                <div class="col s12 m8">
                    <h3 class="green-text center">Enter the Account Number</h3>
                    <form action="/user/transfer" method="post">
                        <div class="input-field">
                            <input type="text" name="userID">
                            <label>Recipient's Account Number</label>
                        </div>
                        <div class="input-field">
                            <input type="number" name="transferAmount">
                            <label>Amount to Transfer</label>
                        </div>
                        <div class="center">
                            <button class="btn waves-effect waves-dark green" type="submit">Transfer</button>
                        </div>
                        <br>    
                    </form>
                </div>
                <div class="col s12 m4">
                    <div class="card small green darken-3">
                        <div class="card-content white-text center">
                            <span class="card-title">Your Current Balance</span>
                            <% if ( typeof user != "undefined" ) { %>
                            <H3>Rs. <%= user.balance %></H3>
                            <% } %>
                            <h6>Your Account No: (click to select)
                                <input class="center-align white-text" onclick="this.select();" type="text" value=<%= user._id %> readOnly>
                            </h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Compiled and minified JavaScript of Materialize CSS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>
